* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
